@media (max-width: 480px) {
  .c-order {
    margin-left: 5rem;
  }

  .c-brand-logo {
    width: 150px;
  }

  .carousel {
    padding-top: 0.6rem;
  }

  .btn-home {
    margin: 0 0.5rem;
    padding: 0 2rem;
  }

  .home {
    height: 70vh;
  }

  .home-text {
    padding-top: 0.5rem;
  }

  .item {
    padding-top: 5rem;
  }

  .btn-login-modal {
    margin-right: 9.5rem;
  }

  .head-item {
    padding: 1rem 0;
    background-color: #eab676;
  }

  .burger-item {
    margin-left: rem;
    padding: 1em 1rem;
    width: 205px;
    border-radius: 8px;
    background-color: #eeeee4;
    box-shadow: 1px 1px 9px;
  }
}
